* {
    font-family: 'Montserrat', sans-serif;
}

.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 15px;
  }
  
  .navBar li {
    float: right;
  }
  
  .navBar li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li:hover {
      text-decoration: underline;
  }

  .Hero {
      height: 270px;
  }

  .Hero h1 {
      padding-top: 50px;
      padding-bottom: 20px;
      font-family: 'Ubuntu', sans-serif;
      font-size: 40px;
      text-align: center;
  }

  .Hero h2 {
      font-family: 'Ubuntu', sans-serif;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
  }

  .Project h3 {
      text-align: center;
      font-size: 20px;
  }

  .Project1 {
      height: 250px;
      background-image: url(../images/CaseStudy1.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      align-items: center;
      display: flex;
      position: relative;
      margin-bottom: 20px;
  }

  .Project1:hover {
      opacity: 0.5;
  }

  .Project2 {
    height: 250px;
    background-image: url(../images/CaseStudy2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    display: flex;
    position: relative;
    margin-bottom: 20px;
}

.Project2:hover {
    opacity: 0.5;
}

.Project3 {
    height: 250px;
    background-image: url(../images/CaseStudy3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    display: flex;
    position: relative;
}

.Project3:hover {
    opacity: 0.5;
}

.Logo h3 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 20px;
}

.Logo h4 {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.logoImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

footer {
    margin-top: 50px;
    text-align: center;
}

footer li {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.FooterTitle {
    font-weight: 700;
}
